/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2015, 17:54:09
    Author     : ipe
*/

header {
    background-color:#aaaaaa;
    color:white;
    text-align:center;
    padding:2px;	 
}
nav {
    /*background-color:#eeeeee;*/
    /*height:50px;*/
    /*padding:5px;*/	      
}

.left_side {
    float: left;
    width: 80px;
    /*height: 90%;*/
    border-style: dashed;
    border-width: 2px;
    margin: 10px;
}

.view_content {
    padding:10px;
    /*margin: 10px;*/
    float: left;
    width: 80%;
        
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:black;
    color:white;
    /*clear:both;*/
    text-align:center;
    padding:2px;	 	 
}
