<form class="ui form" novalidate ng-submit="login()" ng-class="{loading: loading}">
    <h4 class="ui dividing header">Sisäänkirjautuminen</h4>
    <div class="ui negative message" ng-show="error">
        {{error}}
    </div>

    <div class="field">
        <label>Sähköposti</label>
        <div class="ui icon input">
            <input ng-model="user.email" type="email">
            <i class="user icon"></i>
        </div>
    </div>
    <div class="field">
        <label>Salasana</label>
        <div class="ui icon input">
            <input ng-model="user.password" type="password">
            <i class="lock icon"></i>
        </div>
    </div>
    <button type="submit" class="ui submit button">Kirjaudu</button>
</form>