<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="../js/libs/angular.js/angular.js" type="text/javascript"></script>
        <script src="../js/libs/angular.js/angular-route.js" type="text/javascript"></script>
        <!--<script src="js/libs/angular.js/angular-messages.js" type="text/javascript"></script>-->
        <script src="js/libs/angular.js/angular-sanitize.js" type="text/javascript"></script>
        <script src="js/libs/semantic-ui/semantic.js" type="text/javascript"></script>
        <script src="js/libs/angular-semantic-ui/angular-semantic-ui.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>
        <script src="js/angular-dateparser.min.js" type="text/javascript"></script>
        <script src="catch/CatchService.js" type="text/javascript"></script>
        <script src="catch/CatchController.js" type="text/javascript"></script>
        <script src="home/HomeController.js" type="text/javascript"></script>
        <script src="login/LoginController.js" type="text/javascript"></script>
        <script src="UserService.js" type="text/javascript"></script>
        <script src="RequestInterceptor.js" type="text/javascript"></script>
        <script src="browse/BrowseController.js" type="text/javascript"></script>
        <script src="browse/BrowseService.js" type="text/javascript"></script>
        <script src="register/RegisterController.js" type="text/javascript"></script>
        <script src="RestSettings.js" type="text/javascript"></script>
        <link href="../css/common.css" rel="stylesheet" type="text/css"/>
        <link href="js/libs/semantic-ui/semantic.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="FishDiaryApp" ng-controller="HomeController">
        <header><h2>Kalastuspäiväkirja</h2></header>
        <div>
            <div class="ui menu">
                <a href="#browse" class="item">Selaa</a>
                <a href="#catch" class="item" ng-show="loggedIn">Omat saaliit</a>
                <div class="right menu">
                    <a ng-hide="loggedIn" href="#register" class="item">
                        <div class="ui teal button">Rekisteröidy</div>
                    </a>
                    <a ng-hide="loggedIn" href="#login" class="item">
                        <div class="ui green button">Sisään</div>
                    </a>
                    <a ng-show="loggedIn" class="item">
                        <div ng-click="logout()" class="ui red button">Ulos</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="left_side">
            Tähän mainos
        </div>
        <div class="view_content">
            <div ng-view></div>
        </div>
        <!--<footer><h5>&COPY; 2015 Kurssiporukka</h5></footer>-->
    </body>
</html>
