<div class="ui card">
    <div class="image">
        <img width="200px" height="200px" ng-src="{{imageSrc}}">
    </div>
    <div class="content">
        <div class="header">{{catchDetail.species.name}} {{catchDetail.weight}} g</div>
        <div class="meta">
            <span class="date">{{catchDetail.catchTime| date:'dd.MM.yyyy HH:mm'}}</span>
        </div>
        <div class="description">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui label">
                        Pituus
                        <div class="detail">{{catchDetail.length}}</div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui label">
                        Tekniikka
                        <div class="detail">{{catchDetail.technique}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

