<div ng-hide="show_details">
    <form class="ui form">
        <div class="ui dividing header">
            Haku
        </div>
        <div class="fields">
            <div class="six wide field">
                <input type="text" placeholder="Käyttäjä" ng-model="search.user">
            </div>
            <div class="six wide field">
                <input type="text" placeholder="Laji" ng-model="search.species">
            </div>
            <div class="four wide field">
                <input type="text" placeholder="Paino" ng-model="search.weight">
            </div>
        </div>
        <button class="ui button" ng-click="getCatches()">Hae</button>
    </form>

    <table class="ui striped table">
        <thead>
            <tr>
                <th>Aika</th>
                <th>Käyttäjä</th>
                <th>Laji</th>
                <th>Paino</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in catches" ng-click="showDetails(c.id)">
                <td>{{c.catchTime| date :'dd.MM.yyyy HH:mm'}}</td>
                <td>{{c.user.name}}</td>
                <td>{{c.species.name}}</td>
                <td>{{c.weight}}</td>
                <td>
                    <i ng-class="{'camera retro icon': c.imageName}"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="show_details">
    <div class="ui items" style="float: left;">
        <div class="ui item">
            <a class="ui small image" ng-click="show_image = true">
                <img ng-src="{{imageSrc}}">
            </a>
            <div class="content">
                <!--                <div class="header">{{catchDetail.species.name}} {{catchDetail.weight}}</div>
                                <div class="meta"><span class="date"> {{catchDetail.catchTime| date:'dd.MM.yyyy HH:mm'}}</span></div>-->
                <div class="description">
                    <table class="ui collapsing definition table">
                        <tbody>
                            <tr>
                                <td>Päivämäärä</td>
                                <td>{{catchDetail.catchTime| date:'dd.MM.yyyy HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Laji</td>
                                <td>{{catchDetail.species.name}}</td>
                            </tr>
                            <tr>
                                <td>Paino</td>
                                <td>{{catchDetail.weight}}</td>
                            </tr>
                            <tr>
                                <td>Pituus</td>
                                <td>{{catchDetail.length}}</td>
                            </tr>
                            <tr>
                                <td>Tekniikka</td>
                                <td>{{catchDetail.technique}}</td>
                            </tr>
                            <tr>
                                <td>Viehe</td>
                                <td>{{catchDetail.lure}}</td>
                            </tr>
                            <tr>
                                <td>Paikka</td>
                                <td>{{catchDetail.location}}</td>
                            </tr>
                            <tr>
                                <td>Pituuspiiri</td>
                                <td>{{catchDetail.longitude}}</td>
                            </tr>
                            <tr>
                                <td>Leveyspiiri</td>
                                <td>{{catchDetail.latitude}}</td>
                            </tr>
                            <tr>
                                <td>Sää</td>
                                <td>{{catchDetail.weather}}</td>
                            </tr>
                            <tr>
                                <td>Ilman lämpö</td>
                                <td>{{catchDetail.airTemperature}}</td>
                            </tr>
                            <tr>
                                <td>Veden lämpö</td>
                                <td>{{catchDetail.waterTemperature}}</td>
                            </tr>
                            <tr>
                                <td>Syvyys</td>
                                <td>{{catchDetail.depth}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="ui button" ng-click="show_details = false">Takaisin</button>
            </div>
        </div>
    </div>
    <div class="header">Kommentit</div>
    <div class="ui comments">
        <div ng-repeat="c in comments">
            <div class="comment">
                <div class="avatar">
                    <i class="comment icon"></i>
                </div>
                <div class="content">
                    <div class="author">{{c.user.name}}</div>
                    <div class="metadata">{{c.commentDate|date:'dd.MM.yyyy HH:mm'}}</div>
                    <div class="text">
                        {{c.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="loggedIn()">
        Sinun täytyy kirjautua sisään kommentoidaksesi saalista.
    </div>
    <form class="ui reply form" ng-show="loggedIn()">
        <div class="field">
            <textarea ng-model="commentText"></textarea>
        </div>
        <div class="ui primary submit labeled icon button" ng-click="addComment()">
            <i class="icon edit"></i> Lisää kommentti
        </div>
    </form>
</div>
<modal ng-model="show_image">
    <i class="close icon" ng-click="closeImage()"></i>
    <img ng-src="{{imageSrc}}">
</modal>