<form name="form" class="ui form" novalidate ng-submit="add()">
    <h4 class="ui dividing header">Kala</h4>
    <div class="field">
        <label>Kuva</label>
        <input name="picture" id="file" type="file" onchange="angular.element(this).scope().getPreview(this)">
        <img id="image" width="200" height="200" src="" alt="">
    </div>
    <div class="field">
        <label>Laji</label>
        <select name="species" ng-model="currentCatch.species" ng-options="s.name for s in species">
        </select>
        <div class="ui negative message" ng-show="fieldErrors.species && form.weight.$pristine">
            {{fieldErrors.species}}
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Paino</label>
            <input name="weight" ng-model="currentCatch.weight" type="number">
            <div class="ui negative message" ng-show="fieldErrors.weight && form.weight.$pristine">
                {{fieldErrors.weight}}
            </div>

        </div>
        <div class="field">
            <label>Pituus</label>
            <input name="length" ng-model="currentCatch.length" type="number">
            <div class="ui negative message" ng-show="fieldErrors.length && form.length.$pristine">
                {{fieldErrors.length}}
            </div>
        </div>
    </div>
    <h4 class="ui dividing header">Sijainti</h4>
    <div class="two fields">
        <div class="field">
            <label>Pituus</label>
            <input name="longitude" type="text" ng-model="currentCatch.longitude">
            <div class="ui negative message" ng-show="fieldErrors.longitude && form.length.$pristine">
                {{fieldErrors.longitude}}
            </div>
        </div>
        <div class="field">
            <label>Leveys</label>
            <input name="latitude" type="text" ng-model="currentCatch.latitude">
            <div class="ui negative message" ng-show="fieldErrors.latitude && form.length.$pristine">
                {{fieldErrors.latitude}}
            </div>
        </div>
    </div>
    <div class="field">
        <label>Paikka</label>
        <input name="location" ng-model="currentCatch.location" type="text">
    </div>
    <h4 class="dividing header">Kalastustapa</h4>
    <div class="field">
        <label>Tekniikka</label>
        <input name="technique" ng-model="currentCatch.technique" type="text">
    </div>
    <div class="field">
        <label>Viehe</label>
        <input name="lure" ng-model="currentCatch.lure" type="text">
    </div>
    <h4 class="dividing header">Olosuhteet</h4>
    <div class="field">
        <label>Aika</label>
        <input name="catchTime" type="text" ng-model="currentCatch.catchTime" date-parser="dd.MM.yyyy HH:mm">
    </div>
    <div class="field">
        <label>Keli</label>
        <input name="weather" ng-model="currentCatch.weather">
    </div>
    <div class="two fields">
        <div class="field">
            <label>Ilman lämpötila</label>
            <input name="airTemperature" ng-model="currentCatch.airTemperature">
        </div>
        <div class="field">
            <label>Veden lämpötila</label>
            <input name="waterTemperature" ng-model="currentCatch.waterTemperature">
        </div>
    </div>
    <button type="submit" class="ui submit button">Tallenna</button>
</form>

