<form class="ui form" novalidate>
    <h4 class="ui dividing header">Kala</h4>
    <div class="field">
        <label>Laji</label>
        <select ng-disabled="!isEdit" ng-model="currentCatch.species" ng-options="s.name for s in species">
        </select>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Paino</label>
            <input ng-readonly="!isEdit" ng-model="currentCatch.weight" type="number">
        </div>
        <div class="field">
            <label>Pituus</label>
            <input ng-readonly="!isEdit" ng-model="currentCatch.length" type="number">
        </div>
    </div>
    <h4 class="ui dividing header">Sijainti</h4>
    <div class="two fields">
        <div class="field">
            <label>Pituus</label>
            <input ng-readonly="!isEdit" type="number" ng-model="currentCatch.longitude">
        </div>
        <div class="field">
            <label>Leveys</label>
            <input ng-readonly="!isEdit" type="number" ng-model="currentCatch.latitude">
        </div>
    </div>
    <div class="field">
        <label>Paikka</label>
        <input ng-readonly="!isEdit" ng-model="currentCatch.location" type="text">
    </div>
    <h4 class="dividing header">Kalastustapa</h4>
    <div class="field">
        <label>Tekniikka</label>
        <input ng-readonly="!isEdit" ng-model="currentCatch.technique" type="text">
    </div>
    <div class="field">
        <label>Viehe</label>
        <input ng-readonly="!isEdit" ng-model="currentCatch.lure" type="text">
    </div>
    <h4 class="dividing header">Olosuhteet</h4>
    <div class="field">
        <label>Aika</label>
        <input ng-readonly="!isEdit" type="datetime-local" ng-model="currentCatch.catchTime">
    </div>
    <div class="field">
        <label>Keli</label>
        <input ng-readonly="!isEdit" ng-model="currentCatch.weather">
    </div>
    <div class="two fields">
        <div class="field">
            <label>Ilman lämpötila</label>
            <input ng-readonly="!isEdit" ng-model="currentCatch.airTemperature">
        </div>
        <div class="field">
            <label>Veden lämpötila</label>
            <input ng-readonly="!isEdit" ng-model="currentCatch.waterTemperature">
        </div>
    </div>
    <button ng-hide="isEdit" class="ui button" ng-click="isEdit = true">Muokkaa</button>
    <div ng-show="isEdit">
        <button class="ui primary button" ng-click="save()">Tallenna</button>
        <button class="ui button cancel" ng-click="cancel()">Peru</button>
    </div>
</form>
