<a href="#catch/add" class="ui button">Lisää uusi</a>
<table class="ui striped table">
    <thead>
        <tr>
            <th>Aika</th>
            <th>Käyttäjä</th>
            <th>Laji</th>
            <th>Paino</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in catches" ng-click="startEdit(c.id)">
            <td>{{c.catchTime}}</td>
            <td>{{c.user.name}}</td>
            <td>{{c.species.name}}</td>
            <td>{{c.weight}}</td>
            <td>
                <i ng-class="{'camera retro icon': c.imageName}"></i>
            </td>
        </tr>
    </tbody>
</table>

