<div class="ui positive message" ng-show="showMsg">
    <div class="header">
        Rekisteröityminen onnistui
    </div>
    <p>Tervetuloa palvelun käyttäjäksi.</p>
    <p>Seuraavaksi voit vaikkapa <a href="#catch/add">lisätä</a> omia saaliita tai <a href="#browse">selata</a> muiden saaliita</p>
</div>

<form name="form" class="ui form" novalidate ng-submit="register()" ng-class="{loading: loader}" ng-hide="registerSuccess">
    <h4 class="ui dividing header">Tiedot</h4>
    <div class="ui negative message" ng-show="error != null">
        {{error}}
    </div>

    <div class="field">
        <label>Käyttäjänimi</label>
        <div class="ui corner labeled input">
            <input name="name" ng-model="user.name" type="text">
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
            <div class="ui negative message" ng-show="fieldErrors.name && form.name.$pristine">
                {{fieldErrors.name}}
            </div>
        </div>
    </div>
    <div class="field">
        <label>Sähköposti</label>
        <div class="ui corner labeled input">
            <input name="email" ng-model="user.email">
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
            <div class="ui negative message" ng-show="fieldErrors.email && form.email.$pristine">
                {{fieldErrors.email}}
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Salasana</label>
            <div class="ui corner labeled input">
                <input name="password" ng-model="user.password" type="password">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui negative message" ng-show="fieldErrors.password && form.password.$pristine">
                {{fieldErrors.password}}
            </div>
        </div>
        <div class="field">
            <label>Salasanan vahvistus</label>
            <div class="ui corner labeled input">
                <input ng-model="user.password2" type="password">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="noMatch" class="ui negative message">
        <div class="content">
            Salasanat eivät täsmää
        </div>
    </div>
    <button class="ui submit button">Rekisteröidy</button>
</form>